<!DOCTYPE html>
<html ng-app>

	<head>
		<meta charset="UTF-8">
		<title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>
		<script src="js/angular.min.js"></script>
		<script src="js/controller.js"></script>

	</head>

	<body>
		Search:
		<input ng-model="query"> Sort by:
		<select ng-model="orderProp">
			<option value="name">Alphabetical</option>
			<option value="age">Newest</option>
		</select>
<hr/>
		<ul class="phones">
			<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
				{{phone.name}}
				<p>{{phone.snippet}}</p>
			</li>
		</ul>
		
		
		
		
	</body>

</html>